.welcomePage {
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: #79797b;
  font-size: 18px;

  &__title {
    margin-top: 30px;
    font-size: 48px;
    color: #222325;
  }

  &__subtitle {
    margin-top: 60px;
    order: -1;
    background-color: #f8f8f8;
    padding-left: 10px;
    max-width: 335px;
    & > span {
      color: #222325;
    }
  }

  &__description {
    margin-top: 30px;
    font-size: 24px;
  }

  &__buttonWrapper {
    display: flex;
    margin-top: 30px;
  }

  &__registrationButton {
    text-decoration: none;
    background-color: #222325;
    color: #fff;
    font-weight: 700;
    padding: 20px 30px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 18px;
    border: 2px solid #222325;
  }
  &__plansButton {
    text-decoration: none;
    background-color: #fff;
    color: #222325;
    font-weight: 700;
    padding: 20px 30px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 18px;
    margin-left: 10px;
    border: 2px solid #222325;
  }
  &__loginPrompt {
    font-size: 18px;
    margin-top: 30px;
  }

  &__loginLink {
    text-decoration: none;
    font-weight: 700;
    color: #222325;
    cursor: pointer;
  }
}

@media (hover: hover) {
  .welcomePage {
    &__registrationButton {
      transition: 0.7s;
      &:hover {
        color: #222325;
        background-color: #fff;
      }
    }

    &__plansButton {
      transition: 0.7s;
      &:hover {
        color: #fff;
        background-color: #222325;
      }
    }

    &__loginLink {
      transition: 0.7s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
