.input {
  font-size: 18px;
  font-family: "Catamaran";
  padding: 8px 16px;
  border: 2px solid #79797b;
  border-radius: none;
  outline: none;
  vertical-align: middle;
  &::placeholder {
    color: #79797b;
  }
}
